/* HEADER */

.home_page {
    display: flex;
    flex-direction: column;
}

.container .category_top {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .category_top span {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #041E42;
}

.container .category_top a {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #041E42; 
}

.container .category_top a:hover {
    border-bottom: 2px solid #041e42;
}

/* PAGINATION BOX */

.container .pagination_box {
    margin-top: 3px;
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .pagination_box .pagination_main {
   width: auto;
   height: 24px;
   
   display: flex;
   flex-direction: row;
   align-items: center;
}

.container .pagination_main .pagination_dot {
    margin: 0px 20px;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
}

.container .pagination_dot .dot {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.container .pagination_main img {
    cursor: pointer;
}

.container .pagination_dot .dot.active {
    border: 2px solid #112137;
}

.container .pagination_dot .dot div {
    width: 4px;
    height: 4px;
    background-color: #112137;
    border-radius: 50%;
}

/* HEADER FRAME */

.header_frame {
    position: relative;
    margin-top: 47px;
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: center;
}

.header_frame .container {
    width: 1320px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container .header_left {
    position: relative;
    width: 875px;
    height: 508px;
    border-radius: 5px;

    background-color: #0053f6;
    background-image: url("/public/images/images/icons/header_bg.svg");
}

.header_left .header_content {
    margin-left: 20px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.header_content div {
    margin-top: 50px;
    width: 104px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    background: rgb(245, 195, 75);

    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    }

.header_content span {
    margin-top: 10px;
    width: 428px;
    height: 152px;

    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 87px;
    color: #ffffff;
}

.header_content p {
    margin-top: 10px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}

.header_content a {
    margin-top: 20px;
    width: 140px;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #ffffff;
    border-radius: 6px;

    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #041e42;
}

.header_content img {
        
    position: absolute;
    right: 17px;
}

.container .header_right {
    margin-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header_right .header_box {
    width: 422px;
    height: 240px;

    display: flex;
    flex-direction: row;
    background: #f2f2f2;
    border-radius: 5px;
}
    
    
.header_right .box_left {
    margin-left: 30px;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_left span {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #0053f6;
    }
    
.box_left p {
    margin: 10px 0;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    color: #041e42;
}

.box_left a {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #0053f6;  
}

.box_left .hover_border {
    margin-top: 3px;
    width: 32px;
    height: 2px;

    background: #041e42;
}

.header_box .box_right {
    width: 100%;
    height: 100%;
}

/* SERVICE FRAME STARTS HERE */

.home_page .service_frame {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.service_frame .container {
    width: 1320px;
    height: auto;
    display: flex;
    flex-direction: row; 
}

.service_frame .container .service_box {
    width: 25%;
    height: 86px;

    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dbcece;
}

.service_frame .service_box img {
    width: 35px;
    height: 35px;
}

.service_frame .service_box .service_content {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
}

.service_frame .service_content span {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #041E42;
}

.service_frame .service_content p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #041E42;
}

/* SHOP CATEGORY */

.shop_category_frame {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.shop_category_frame .container {
    flex-direction: column; 
}

.shop_category_frame .container .category_wrapper {
    margin-top: 30px;
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;
  
  display: flex;
  flex-direction: column;  
  cursor: pointer;
}

.shop_category_frame .category_box .category_image {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eaeaea;
    border-radius: 150px;
}

.shop_category_frame .category_box span {
    margin-top: 15px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #041E42; 
    text-align: center;
}

/* SELLING PRODUCT */

.selling_product_frame {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selling_product_frame .container {
    flex-direction: column;
}

.container .product_wrapper {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product_wrapper .next_prev_box {
    width: 25px;
    cursor: pointer;
}

.next_prev_box img {
    position: absolute;
    top: 50%;
}

.product_wrapper .product_boxes {
    position: relative;
    width: 1224px;
    height: 452px;

    display: flex;
    flex-direction: row;
}

.product_boxes .product_box {
    width: 306px;
    height: 100%;

    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.product_box .product_img_box {
    width: 100%;
    height: 280px;
   
}

.product_img_box .hover_box {
    margin-bottom: 10px;
    display: none;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hover_box button {
    margin-bottom: 8px;
    width: 260px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;

    background: #0053f6;
    box-shadow: 0px 5px 20px rgba(0, 83, 246, 0.1);
    border-radius: 6px;

    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
}

.product_img_box:hover .hover_box {
    display:flex;
}

.product_box .product_content_box {
    padding-top: 5px 22px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.product_content_box .product_title {
    color: rgb(98, 105, 116);
    font-family: Jost;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
}

.product_content_box .product_desc {
    margin-top: 7px;
    height: 54px;
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    overflow: hidden;
}

.product_content_box .review_box {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review_box img {
    margin-right: 5px;
}

.review_box span {
    margin-left: 10px;
    color: rgb(98, 105, 116);
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.product_content_box .price_box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price_box strong {
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.price_box span {
    margin-left: 8px;
    color: rgb(98, 105, 116);
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-decoration-line: line-through;
}

.home_page .adv_frame {
    margin-top: 90px;
    width: 100%;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #adc4f8;
    color: rgb(0, 83, 246);
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    
}

/* Spec Product Frame */

.home_page .spec_prod_frame {
    margin-top: 90px;
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.spec_prod_frame .container {
    display: flex;
    flex-direction: column;    
}

.spec_prod_frame .container .spec_product_wrapper {
    position: relative;
    margin-top: 35px;
    width: 1317px;
    height: 368px;

    display: flex;
    flex-direction: row;
}

.big_product_box .big_prod_content {
    width: 160px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.spec_prod_frame .spec_product_wrapper .big_product_box {
    padding: 30px;
    position: relative;
    width: 665px;
    height: 368px;

    display: flex;
    flex-direction: row;

    background: #f3f5f6;
    border-radius: 6px;
    box-sizing: border-box;
}

.big_product_box .big_prod_content span {
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.big_product_box .big_prod_content p {
    margin: 7px 0px;
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.big_product_box .big_prod_content a {
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;    
}

.big_product_box .big_prod_content .hover_border {
    margin-top: 3px;
    width: 32px;
    height: 2px;

    background: #041e42;
}

.big_product_box img {
    width: 322px;
    height: 309px;
    position: absolute;
    right: 5%;

}

.spec_product_wrapper .small_product_box {
    margin-left: 32px;
    width: 620px;
    height: 368px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small_product_box .small_prod_wrap {
    width: 293px;
    height: 170px;
    padding: 30px;

    display: flex;
    flex-direction: row;

    background: #f3f5f6;
    border-radius: 6px;
    box-sizing: border-box;
    position: relative;
}

.small_prod_wrap :nth-child(odd) {
    margin-right: 30px;
}

.small_product_box .small_prod_wrap .content {
    display: flex;
    flex-direction: column;   
}

.small_prod_wrap .content strong {
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.small_prod_wrap .content strong span {
    color: rgb(98, 105, 116);
    font-family: Jost;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.small_prod_wrap img {
    position: absolute;
    right: 30px;
    top: 40px;
    bottom: 25px;
}

/* TV AND HOME THEATRE */

.tv_product_frame .container .category_top .categories_tv {
    width: 523px;
    height: 28px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tv_product_frame {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tv_product_frame .container {
    flex-direction: column;
}

.tv_product_frame .container .product_wrapper {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tv_product_frame .product_wrapper .next_prev_box {
    width: 25px;
    cursor: pointer;
}

.tv_product_frame .next_prev_box img {
    position: absolute;
    top: 50%;
}

.tv_product_frame .product_wrapper .product_boxes {
    position: relative;
    width: 1224px;
    height: 452px;

    display: flex;
    flex-direction: row;
}

.tv_product_frame .product_boxes .product_box {
    width: 306px;
    height: 100%;

    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.tv_product_frame .product_box .product_img_box {
    position: relative;
    width: 212px;
    height: 230px;
   
}

.tv_product_frame .product_img_box .hover_box {
    margin-bottom: 10px;
    display: none;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.tv_product_frame .hover_box button {
    margin-bottom: 8px;
    width: 260px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;

    background: #0053f6;
    box-shadow: 0px 5px 20px rgba(0, 83, 246, 0.1);
    border-radius: 6px;

    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
}

.tv_product_frame .product_img_box:hover .hover_box {
    display:flex;
}

.tv_product_frame .product_box .product_content_box {
    padding-top: 5px 22px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.tv_product_frame .product_content_box .product_title {
    color: rgb(98, 105, 116);
    font-family: Jost;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
}

.tv_product_frame .product_content_box .product_desc {
    margin-top: 7px;
    height: 54px;
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    overflow: hidden;
    padding: 0 18px 0;
}

.tv_product_frame .product_content_box .review_box {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tv_product_frame .review_box img {
    margin-right: 5px;
}

.tv_product_frame .review_box span {
    margin-left: 10px;
    color: rgb(98, 105, 116);
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.tv_product_frame .product_content_box .price_box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tv_product_frame .price_box strong {
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.tv_product_frame .price_box span {
    margin-left: 8px;
    color: rgb(98, 105, 116);
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-decoration-line: line-through;
}

.tv_product_frame .home_page .adv_frame {
    margin-top: 90px;
    width: 100%;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #adc4f8;
    color: rgb(0, 83, 246);
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;    
}

/* event frame */

.home_page .event_frame {
    position: relative;
    margin-top: 60px;
    margin-bottom: 90px;
    width: 100%;
    height: 691px;

    background-image: url(../images/images/icons/event_bg.png);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.event_frame .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.event_frame .container .event_content_box {
    width: 340px;
    height: auto; 

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event_frame .container .event_content_box span {
    width: 305px;
    height: 40px;
    
    display: flex;
    justify-content: flex-start;

    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}

.event_frame .container .event_content_box .data {
    width: 334px;
    height: 62px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event_frame .container .event_content_box .data .boxes {
    margin-right: 20px;
    margin-top: 20px;
    width: 52px;
    height: 62px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event_frame .container .event_content_box .data .boxes strong {
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}

.event_frame .container .event_content_box .data .boxes p {
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.event_frame .container .event_content_box a button {
    width: 142px;
    height: 60px;
    margin-top: 40px;
    border-radius: 6px;
    box-sizing: border-box;
    background: rgb(226, 218, 218);

    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}

.event_frame .container .event_content_box a button:hover {
    cursor: pointer;
    background-color: rgb(189, 228, 144);
    font-size: medium;
}

.event_frame .container .event_wrapper {
    width: 950px;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event_frame .container .event_wrapper .product_boxes {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.event_frame .container .event_wrapper .next_prev_box {
    width:  62px;
    height: auto; 
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.event_frame .container .event_wrapper .product_box {
    width: 205px;
    height: 392px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;

    background-color: #ffffff;

    border-radius: 6px;
    box-sizing: border-box;
}

.event_frame .container .event_wrapper .product_box .product_img_box {
    width: 169px;
    height: 190px;
    padding: 15px 14px;

    margin: 5px;

}

.event_frame .container .event_wrapper .product_box .product_content_box .product_desc {
    color: black;
    font-family: Jost;
    font-size: 13px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    padding: 0 8px 0;    
}

.event_frame .container .event_wrapper .product_box .product_content_box .product_title {
    color: black;
    font-family: Jost;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-left: 8px;
}

.event_frame .container .event_wrapper .product_box .product_content_box .review_box span {
    color: black;
    font-family: Jost;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.event_frame .container .event_wrapper .product_box .product_content_box .price_box {
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 10px;
    }

/* FOOTER */

footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .container {
    margin-bottom: 150px;
    width: 1320px;
    height: 250px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .container .contact {
    width: 285px;
    height: 195px;   
}

footer .container .contact span {
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

footer .container .contact .phone {
    width: 154px;
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 30px;
    margin-bottom: 60px;
}

footer .container .contact .phone img:hover {
    cursor: pointer;
}


footer .container .contact .phone .live {
    display: flex;
    flex-direction: column;  
    justify-content: space-around;  
    
}

footer .container .contact .phone img {
    margin-right: 10px;

}

footer .container .contact .phone .live p {
    width: 210px;
    height: 22px;

   color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

footer .container .contact .phone .live span {
    width: 145px;
    height: 22px;
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;

}

footer .container .contact .mobile {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

footer .container .contact .content {
    margin-top: 30px;
}

footer .container .contact .content p {
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;    
}

footer .container .contact .mobile_apps {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

footer .container .contact .mobile_apps .img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .container .contact .mobile_apps img {
    width: 24px;
    height: 14px;
    margin-right: 20px;
    
    background-size: cover;
}

footer .container .contact .mobile .mobile_apps .live p {
  
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}

footer .container .contact .customer {
    margin-top: 20px;
}

footer .container .contact .customer p {    
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}

footer .container .accept {
    margin-top: 136px;
    margin-bottom: 40px;
    width: 272px;
    height: 70px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer .container .accept span {
    margin-top: 150px;
    margin-bottom: 20px;
    width: 110px;
    height: 26px;

    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

footer .container .accept img:hover {
    cursor: pointer;
}

/* Bottom */



footer .bottom .right {
    margin-top: 90px 0;
    margin-bottom: 40px;
    width: 1320px;
    height: 35px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .bottom .right span {
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}

footer .bottom .right .text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .bottom .right .text span {
    margin-right: 10px;
    color: rgb(98, 105, 116);
    font-family: Jost;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}

footer .bottom .right .text p {
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
}