.navbar_frame {
    position: relative;
    width: 100%;
    height: 145px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #443297;
}

.container {
    position: relative;
    padding:20px 0 14px;
    width: 1320px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.navbar_top {
    width: 100%;
    height: 50px;  
    display: flex;
    flex-direction: row;  
}

.navbar_top > a img {
    margin-right: 76px;
    width: 117px;
    height: 36px;    
}

.navbar_top .search_box {
    padding: 10px 17px;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_top .nav_search_frame {
    width: 650px;
    height: 50px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
}

.search_box .category_list {
    width: 166px;
    height: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-right: 1px solid #D6D6D6;
}

.category_list select {
    width: 140px;
    height: 30px;

    border: none;
    outline: none;

    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.search_box input {
    width: 387px;
    height: 22px;
    margin-left: 12px;

    border: none;
    outline: none;

    color: rgb(98, 105, 116);
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.nav_search_frame .search_icon_box {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search_icon_box img {
    width: 20px;
    height: 20px;
}

.navbar_top .nav_top_menu {
    margin-left: 59px;
    width: 416px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav_top_menu .top_menu_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.top_menu_box .box_icon_box {
    position: relative;
    margin-right: 16px;
    width: 54px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.box_icon_box img {
    width: 22px;
    height: 22px;
}

.top_menu_box .box_info_box {
    display: flex;
    flex-direction: column;
}

.box_info_box span {
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;  
}

.box_info_box strong {
    /* [object Object] */
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.box_icon_box .basket_count {
    width: 15px;
    height: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f5c34b;
    border-radius: 50%;

    font-family: Jost;
    font-style: normal;
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
  
    position: absolute;
    top: 0;
    right: 0;
}

.navbar_bottom {
    margin-top: 20px;
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    border-top: 1px solid #5746a1;
}

.navbar_bottom .navbar_bot_menu_box {
    margin-top: 10px;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
}

.navbar_bot_menu_box .browse_box {
    width: 185px;
    height: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid #5746a1;
}

.browse_box img {
    margin-right: 10px;
    width: 20px;
    height: 18px;
}

.browse_box span {
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;    
}

.navbar_bot_menu_box .navbar_route_menu {
    margin-left: 12px;
    width: 690px;
    display: flex;
    flex-direction: row;    
}

.navbar_route_menu .router_menu {
    margin-right: 20px;
    width: auto;
    height: 41px;

    display: flex;
}


.router_menu a {
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-style: normal;
}

.router_menu a.active {
    color: #f5c34b;
}

.navbar_bottom .sorting_menu {
    display: flex;
    flex-direction: row;  
}

.sorting_menu span {
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-style: normal;
}
